## PDF manipulation and content editing
pikepdf==9.11.0       # MPL-2.0 License (Mozilla Public License 2.0)
# https://pikepdf.readthedocs.io/en/latest/installation.html
## PDF processing, text/image extraction, rendering
PyMuPDF==1.26.4      # AGPL-3.0 License (GNU Affero General Public License v3.0)
# https://pymupdf.readthedocs.io/en/latest/installation.html
## OCR wrapper (uses Tesseract + Ghostscript)
ocrmypdf==16.11.0      # MPL-2.0 License (Mozilla Public License 2.0)
# https://ocrmypdf.readthedocs.io/en/latest/installation.html
## Tesseract Python wrapper
pytesseract==0.3.13   # Apache 2.0
# https://github.com/madmaze/pytesseract
## CLI helper
click==8.3.0          # BSD-3-Clause License
# https://click.palletsprojects.com/en/stable/
### --- External non-Python dependencies ---
## Tesseract OCR (Apache License 2.0) - required by OCRmyPDF and PyMuPDF
# https://github.com/UB-Mannheim/tesseract
## Ghostscript (AGPL-3.0, or commercial license from Artifex) - required by OCRmyPDF
# https://www.ghostscript.com/releases/gsdnld.html
## unpaper - required by OCRmyPDF with --clean params
# https://github.com/unpaper/unpaper
## pngquant (GNU) - required by OCRmyPDF with optimize>0
# https://pngquant.org/
# Web scraping
selenium==4.35.0
webdriver-manager==4.0.2
### On Windows you MUST:
# - install unpaper via Docker and set up ENV vars:
# setx PDFWTF_HOME_DIR d:\Decko\pdf-wtf
# setx PDFWTF_TEMP_DIR %PDFWTF_HOME_DIR\%instance\temp
# - and create these dir if applicable !
# Add %PDFWTF_HOME_DIR% to PATH so OCRmyPDF can find the unpaper.cmd
